.order {
  position: relative;
  display: flex;
  margin-bottom: 2rem;
  padding: 2rem;
  box-shadow: 0rem 0.2rem 2rem rgba(0, 0, 0, 0.1);
  gap: 5rem;
  &__image {
    flex: 0.2;
    object-fit: contain;
    max-height: 20rem;
    margin-inline: auto;
    padding: 1rem;
  }

  &__info {
    width: 50%;
  }
  &__btn {
    position: absolute;
    bottom: 1.2rem;
    right: 2rem;
  }

  &__quantity {
    margin-top: 1.5rem;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    outline: none;
  }

  &__title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
}
