* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-blue: #131921;
  --color-white: #fff;
  --color-black: #000;
  --color-yellow: rgb(255, 166, 1);
  --color-yellow-dark: rgb(245, 160, 2);
}

html {
  font-size: 62.5%;
}
a {
  color: currentColor;
  font-weight: 500;
  text-decoration: none;
}

body {
  margin: 0;
  min-width: 32rem;
  min-height: 100vh;
  font-size: 1.6rem;
}

.justify-between {
  display: flex;
  align-items: center;
  justify-content: center;
}
.d-flex {
  display: flex;
  align-items: center;
}

.d-flex-col {
  display: flex;
  flex-direction: column;
}

input,
button {
  border: none;
  outline: none;
  cursor: pointer;
}
.btn {
  background-color: var(--color-yellow);
  padding: 0.8rem;
  font-size: medium;
  border-radius: 0.8rem;
  cursor: pointer;

  &:hover {
    background-color: rgb(241, 158, 4);
  }
}

@media (max-width: 978px) {
  html {
    font-size: 55%;
  }
  .header {
    display: flex;
    justify-content: space-between;

    &__searchBox {
      display: none;
    }

    &__options {
      font-size: 1.2rem;
    }
  }

  .checkout {
    width: 100%;
    padding-inline: 1rem;
    &__ad {
      width: 100%;
    }
    flex-direction: column-reverse;

    &__total {
      width: 90%;
      margin: 0 auto;
      margin-bottom: -5rem;
    }
  }

  .order {
    width: 100%;
    flex-direction: column;
  }

  .myOrder {
    overflow: hidden;
    width: 100%;
    &__ad {
      width: 100%;
    }
  }
}
